<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h1 class="section-heading-sub">What we do</h1>
          <h2 class="section-heading-main">Story about us</h2>
          <div class="single-line"></div>
        </div>
        <div class="section-paragraph">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about-content">
          <div class="about-img">
            <img src="assets/img/about/about1.jpg" alt="">
            <div class="about-img-hover">
              <i class="fas fa-user-friends"></i>
              <p>super team</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about-content">
          <div class="about-img">
            <img src="assets/img/about/about2.jpg" alt="">
            <div class="about-img-hover">
              <i class="fas fa-user-friends"></i>
              <p>super team</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 m-sm-auto">
        <div class="about-content">
          <div class="about-img">
            <img src="assets/img/about/about3.jpg" alt="">
            <div class="about-img-hover">
              <i class="fas fa-user-friends"></i>
              <p>super team</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
