<section id="work" class="pt-5 works">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h1 class="section-heading-sub">What we do</h1>
          <h2 class="section-heading-main">Some of our work</h2>
          <div class="single-line"></div>
        </div>
        <div class="section-paragraph">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="masonary-container">
    <div class="row no-gutters">
      <div class="col-lg-6 col-md-12">
        <div class="row no-gutters">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a href="assets/img/works/1.jpg">
              <div class="masonary-content">
                <div class="masonary-img normal-img-height">
                  <img src="assets/img/works/1.jpg" alt="">
                </div>
                <div class="masonary-overlay">
                  <div class="masonary-center">
                    <img src="assets/img/works/gallery-icon.png" alt="">
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a href="assets/img/works/2.jpg">
              <div class="masonary-content">
                <div class="masonary-img normal-img-height">
                  <img src="assets/img/works/2.jpg" alt="">
                </div>
                <div class="masonary-overlay">
                  <div class="masonary-center">
                    <img src="assets/img/works/gallery-icon.png" alt="">
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a href="assets/img/works/3.jpg">
              <div class="masonary-content">
                <div class="masonary-img normal-img-height">
                  <img src="assets/img/works/3.jpg" alt="">
                </div>
                <div class="masonary-overlay">
                  <div class="masonary-center">
                    <img src="assets/img/works/gallery-icon.png" alt="">
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a href="assets/img/works/4.png">
              <div class="masonary-content">
                <div class="masonary-img normal-img-height">
                  <img src="assets/img/works/4.png" alt="">
                </div>
                <div class="masonary-overlay">
                  <div class="masonary-center">
                    <img src="assets/img/works/gallery-icon.png" alt="">
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 ">
        <div class="row no-gutters">
          <div class="col-lg-12 col-md-12">
            <div class="row no-gutters">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="assets/img/works/5.jpg">
                  <div class="masonary-content">
                    <div class="masonary-img double-img-height">
                      <img src="assets/img/works/5.jpg" alt="">
                    </div>
                    <div class="masonary-overlay">
                      <div class="masonary-center">
                        <img src="assets/img/works/gallery-icon.png" alt="">
                        <h5>creatively designed</h5>
                        <p>Lorem ipsum dolor sit</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 d-md-flex d-sm-flex d-lg-block">
                <a href="assets/img/works/6.jpg">
                  <div class="masonary-content masonary-content-md masonary-content-sm">
                    <div class="masonary-img normal-img-height">
                      <img src="assets/img/works/6.jpg" alt="">
                    </div>
                    <div class="masonary-overlay">
                      <div class="masonary-center">
                        <img src="assets/img/works/gallery-icon.png" alt="">
                        <h5>creatively designed</h5>
                        <p>Lorem ipsum dolor sit</p>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="assets/img/works/7.jpg">
                  <div class="masonary-content masonary-content-md masonary-content-sm">
                    <div class="masonary-img normal-img-height">
                      <img src="assets/img/works/7.jpg" alt="">
                    </div>
                    <div class="masonary-overlay">
                      <div class="masonary-center">
                        <img src="assets/img/works/gallery-icon.png" alt="">
                        <h5>creatively designed</h5>
                        <p>Lorem ipsum dolor sit</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
