<section class="counter-area">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg col-md-6 col-sm-6">
        <div class="counter-content counter-content-first">
          <p class="counter">42</p>
          <p class="counter-text">Web design project</p>
        </div>
      </div>
      <div class="col-lg col-md-6 col-sm-6">
        <div class="counter-content">
          <p class="counter">123</p>
          <p class="counter-text">Happy Clients</p>
        </div>
      </div>
      <div class="col-lg col-md-6 col-sm-6">
        <div class="counter-content">
          <p class="counter">15</p>
          <p class="counter-text">Award Winner</p>
        </div>
      </div>
      <div class="col-lg col-md-6 col-sm-6">
        <div class="counter-content">
          <p class="counter">99</p>
          <p class="counter-text">cup of coffee</p>
        </div>
      </div>
      <div class="col-lg col-md-6 col-sm-6 m-sm-auto">
        <div class="counter-content counter-content-last">
          <p class="counter">24</p>
          <p class="counter-text">Members</p>
        </div>
      </div>
    </div>
  </div>
</section>
