<section class="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h1 class="section-heading-sub">who we are</h1>
          <h2 class="section-heading-main">Meet our team</h2>
          <div class="single-line"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-client">
          <div class="row">
            <div class="col-lg-3">
              <div class="client-img">
                <img src="assets/img/clients/1.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="client-details">
                <h3 class="client-name">Matthew Dix</h3>
                <p class="client-designation">Graphic Design</p>
              </div>
              <div class="single-line"></div>
              <div class="client-paragraph">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-client">
          <div class="row">
            <div class="col-lg-3">
              <div class="client-img">
                <img src="assets/img/clients/2.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="client-details">
                <h3 class="client-name">Nick Karvounis</h3>
                <p class="client-designation">Graphic Design</p>
              </div>
              <div class="single-line"></div>
              <div class="client-paragraph">
                <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-client">
          <div class="row">
            <div class="col-lg-3">
              <div class="client-img">
                <img src="assets/img/clients/3.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="client-details">
                <h3 class="client-name">Jaelynn Castillo</h3>
                <p class="client-designation">Graphic Design</p>
              </div>
              <div class="single-line"></div>
              <div class="client-paragraph">
                <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="single-client">
          <div class="row">
            <div class="col-lg-3">
              <div class="client-img">
                <img src="assets/img/clients/4.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-9">
              <div class="client-details">
                <h3 class="client-name">Mike Petrucci</h3>
                <p class="client-designation">Graphic Design</p>
              </div>
              <div class="single-line"></div>
              <div class="client-paragraph">
                <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
