<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h1 class="section-heading-sub">For all devices</h1>
          <h2 class="section-heading-main">unque design</h2>
          <div class="single-line"></div>
        </div>
      </div>
      <div class="col-lg-12 m-auto">
        <div class="feature-mobile">
          <div class="big-screen">
            <img src="assets/img/feature/big-mobile.png" alt="">
            <div class="small-screen">
              <img src="assets/img/feature/small-mobile.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
