$large : (min-width: 992px) and (max-width: 1200px);
$medium : (min-width: 768px) and (max-width: 991px);
$small : only screen and (max-width: 767px);

/* lg Device :992px. 980px */
@media #{$large} {


  // .double-img-height,
  // .normal-img-height {
  //   height: auto;
  // }

  .home {
    .home-content {
      .main-heading {
        font-size: 120px;
      }
    }
  }

  .counter-area {
    .counter-content-first {
      border-style: none;
    }

    .counter-content-last {
      border-right: none;
    }
  }

  .features {
    .feature-mobile {
      .big-screen {
        width: 350px;

        .small-screen {
          width: 190px;
        }
      }
    }
  }

  .team-member {
    .team-image {
      img {
        min-height: auto;
      }
    }
  }

  .testimonial {
    &-total {
      &-img {
        width: 33%;
      }

      .quote-content {
        .quote-message {
          .quote-sign {
            width: 77%;
          }
        }
      }
    }
  }

  .works {
    .masonary-container {
      a {
        .masonary-content {
          .masonary-img {
            height: auto;
          }
        }
      }
    }
  }
}

/* MD Device :768px. 750px */
@media #{$medium} {
  .masonary-content-md {
    width: 100%;
  }

  .md--none {
    display: none;
  }

  .masonary-flex {
    display: flex;
  }

  header {
    .navbar {
      .navbar-nav {
        .nav-item {
          .nav-link {
            display: inline-block;
          }
        }
      }
    }
  }

  .section-heading {
    padding-bottom: 20px;

    .single-line {
      margin: 20px auto !important;
    }

    .section-heading-sub {
      font-size: 24px;
    }

    .section-heading-main {
      font-size: 27px;
    }
  }

  .home {
    .home-content {
      .sub-heading {
        font-size: 35px;
      }

      .main-heading {
        font-size: 80px;
      }


    }

    .home-btn {
      .btn-mogo {
        font-size: 15px;
        padding: 5px 20px
      }
    }
  }

  .about {
    .about-img {
      &-hover {
        p {
          font-size: 18px;
        }
      }
    }
  }

  .counter-area {
    .counter-content {
      border-style: none;
      padding: 1rem 0;

      .counter {
        font-size: 50px;
      }

      .counter-text {
        font-size: 14px;
      }
    }
  }

  .service-1 {
    .services-1-content {
      text-align: center;

    }

    .single-line {
      display: none;
    }

    .services-1-icon {
      margin: 10px auto;
    }

  }

  .features {
    .feature-mobile {
      .big-screen {
        width: 250px;

        img {
          width: 100%;
        }

        .small-screen {
          width: auto;
          top: 55%;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .works {
    .masonary-container {
      a {
        .masonary-content {
          .masonary-img {
            margin-bottom: 0 !important;
            height: 350px;
          }
        }
      }
    }
  }

  .service-2 {
    .services-2-img {
      height: auto;
    }

    .services-2-content {
      margin-top: 0;

      .card-header {
        height: 40px;
        line-height: 40px;

        .service-item-left {
          img {
            width: 25px;
          }

          span {
            font-size: 14px;
          }
        }

        .service-item-right {
          i {
            font-size: 14px;
          }
        }
      }

      .card-body {
        max-height: 100px;

        p {
          font-size: 14px;
        }
      }
    }
  }

  .quote {
    .quote-total {
      align-items: center;

      .quote-img {
        margin: 0 10px 0 0;
        text-align: center;
      }
    }

    .quote-content {
      .quote-message {
        font-size: 14px;
      }

      .quote-sign {
        .quote-by {
          font-size: 25px;
        }
      }
    }
  }

  .team {
    .team-member {
      .team-image {
        img {
          min-height: auto;
        }
      }
    }

    .team-details {
      &-name {
        font-size: 14px;
        margin-bottom: 5px;
      }

      &-designation {
        font-size: 14px;
      }
    }
  }

  .sponsors {
    text-align: center;

    .single-sponsor {
      margin-bottom: 20px;
    }
  }

  .testimonial {
    &-total {
      flex-flow: column;
      align-items: center;
      text-align: center;

      &-img {
        width: 120px;
        height: 120px;
        margin: 10px 0;

        img {
          width: 100%;
          height: 100%;
        }

      }

      .quote-content {
        .quote-sign {
          justify-content: center;
        }
      }
    }

    &-item-img {
      width: 100px;
      height: 100px;
    }

    .quote-content {
      .quote-message {
        font-size: 14px;
      }

      .quote-sign {
        .quote-by {
          font-size: 25px;
        }
      }
    }
  }

  .clients {
    .single-client {
      padding: 0;

      .client-img {
        margin-bottom: 10px;
      }
    }
  }

  .blog {
    .single-blog {
      &-content {
        .blog-date {
          top: 62%;
          left: -2%;
          width: 65px;
          height: 65px;

          .blog-day {
            font-size: 30px;
          }

          .blog-month {
            font-size: 15px;
          }
        }
      }

      .blog-content-bottom-list {
        p {
          font-size: 15px;
        }
      }
    }
  }

  .map {
    .map-item {
      .single-line {
        margin: 0 auto;
      }
    }
  }

  footer {
    .footer-title {
      margin: 20px 0;
    }

    .footer-logo {
      h3 {
        font-size: 46px;
      }
    }

    .footer-item {
      font-size: 15px;

      .footer-paragraph {
        font-size: 15px;
      }

      .footer-follower {
        b {
          font-size: 18px;
        }

        font-size: 15px;
      }
    }

    .footer-follow {
      ul {
        li {
          p {
            font-size: 15px;
          }

          a {
            i {
              font-size: 15px;
            }
          }
        }
      }
    }

    .footer-subscribe {
      input {
        width: 60%;
        font-size: 15px;
      }

      .btn-mogo {
        font-size: 15px;
      }
    }

    .footer-content {
      .footer-single-blog {
        .footer-blog-content {
          .footer-blog-post {
            font-size: 12px;
          }

          .blog-post-date {
            font-size: 13px;
          }
        }
      }
    }

    .copyright {
      p {
        font-size: 13px;
      }
    }
  }

}





/* Mobile Layout: 320px. 300px */
@media #{$small} {

  header {
    background-color: #f38181;
    top: 0;

    nav {
      .navbar-nav {
        .nav-item {
          .search-content {
            width: 100%;
          }
        }
      }
    }
  }

  .masonary-flex-off {
    display: block;
  }

  .masonary-content-sm {
    width: 100%;
  }

  .map {
    .map-frame {
      .modal-content {
        height: auto !important;
      }
    }
  }

  .section-heading {
    padding-bottom: 20px;

    .single-line {
      margin: 20px auto;
    }

    .section-heading-sub {
      font-size: 24px;
    }

    .section-heading-main {
      font-size: 27px;
    }

  }

  .section-paragraph {
    margin-bottom: 40px;
  }

  .home {
    .home-content {
      .sub-heading {
        font-size: 35px;
      }

      .main-heading {
        font-size: 50px;
      }


    }

    .home-btn {
      .btn-mogo {
        font-size: 15px;
        padding: 0 20px
      }
    }
  }

  .about {
    .about-content {
      margin-bottom: 30px;
    }
  }

  .counter-area {
    .counter-content {
      border-style: none;

      .counter {
        font-size: 50px;
      }

      .counter-text {
        font-size: 14px;
      }
    }

  }

  .service-1 {
    .services-1-content {
      text-align: center;

    }

    .single-line {
      display: none;
    }

    .services-1-icon {
      margin: 10px auto;
    }

  }

  .section-paragraph {
    p {
      font-size: 14px;
    }
  }

  .works {
    .masonary-container {
      a {
        .masonary-content {
          .masonary-img {
            margin-bottom: 5px !important;
          }
        }
      }
    }
  }

  .features {
    .feature-mobile {
      .big-screen {
        width: 45%;

        .small-screen {
          width: auto;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }


    }
  }

  .team {
    .team-member {
      .team-image {
        img {
          height: auto;
          object-position: top center;
        }
      }
    }
  }

  .service-2 {
    .services-2-content {
      margin-top: 20px;

      .card-header {
        .service-item-left {
          span {
            font-size: 14px;
          }
        }

        .service-item-right {
          i {
            font-size: 14px;
          }
        }
      }

      .card-body {
        p {
          font-size: 14px;
        }
      }
    }
  }

  .quote {
    .quote-total {
      flex-flow: column;
      align-items: center;

      .quote-img {
        margin: 20px 0;
        text-align: center;
        width: 85px;
        height: 85px;
        line-height: 85px;

        img {
          width: 40px;
          margin: 0;

        }
      }
    }

    .quote-content {
      text-align: center;

      .quote-message {
        font-size: 14px;
      }

      .quote-sign {
        justify-content: center;

        .quote-by {
          font-size: 25px;
        }
      }
    }
  }

  .sponsors {
    text-align: center;
  }

  .testimonial {
    &-item-img {
      width: auto;
      height: auto;
    }

    .quote-content {
      .quote-message {
        font-size: 14px;
      }

      .quote-sign {
        justify-content: center;

        .quote-by {
          font-size: 25px;
        }
      }
    }
  }

  .clients {
    .single-client {
      padding: 0;
      text-align: center;

      .single-line {
        margin: 0 auto;
      }

      .client-img {
        margin: 10px auto
      }
    }
  }

  .blog {
    .single-blog {
      &-content {
        .blog-date {
          top: 62%;
          left: -2%;
          width: 65px;
          height: 65px;

          .blog-day {
            font-size: 30px;
          }

          .blog-month {
            font-size: 15px;
          }
        }
      }

      .blog-content-bottom-list {
        p {
          font-size: 15px;
        }
      }
    }
  }

  .map {
    .map-item {
      .single-line {
        margin: 0 auto;
      }
    }
  }

  footer {


    .footer-title {
      margin: 20px 0;
    }

    .footer-logo {
      h3 {
        font-size: 46px;
      }
    }

    .footer-item {
      font-size: 15px;

      .footer-paragraph {
        font-size: 15px;
      }

      .footer-follower {
        b {
          font-size: 18px;
        }

        font-size: 15px;
      }
    }

    .footer-follow {
      ul {
        li {
          padding: 0 5px;

          p {
            font-size: 15px;
          }

          a {
            i {
              font-size: 15px;
            }
          }
        }
      }
    }

    .footer-subscribe {
      input {
        width: 100%;
      }
    }

    .footer-content {
      .footer-single-blog {
        .footer-blog-img {
          width: 33%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .footer-blog-content {
          width: 77%;

          .footer-blog-post {
            font-size: 12px;
          }

          .blog-post-date {
            font-size: 13px;
          }
        }
      }
    }

    .copyright {
      p {
        font-size: 13px;
      }
    }
  }
}