<section class="testimonial">
  <div class="container">
    <div class="row align-items-center swiper-container">
      <swiper [config]="config" class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row m-0">
            <div class="col-lg-10 m-auto ">
              <div class="testimonial-total">
                <div class="testimonial-total-img">
                  <img src="assets/img/testimonial/1.jpg" alt="">
                </div>
                <div class="quote-content">
                  <p class="quote-message">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
                  <div class="quote-sign">
                    <div class="single-line"></div>
                    <p class="quote-by">Jon Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row m-0">
            <div class="col-lg-10 m-auto ">
              <div class="testimonial-total">
                <div class="testimonial-total-img">
                  <img src="assets/img/testimonial/1.jpg" alt="">
                </div>
                <div class="quote-content">
                  <p class="quote-message">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
                  <div class="quote-sign">
                    <div class="single-line"></div>
                    <p class="quote-by">Jon Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row m-0">
            <div class="col-lg-10 m-auto ">
              <div class="testimonial-total">
                <div class="testimonial-total-img">
                  <img src="assets/img/testimonial/1.jpg" alt="">
                </div>
                <div class="quote-content">
                  <p class="quote-message">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
                  <div class="quote-sign">
                    <div class="single-line"></div>
                    <p class="quote-by">Jon Doe</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper>
    </div>
  </div>
</section>
