<section class="pt-5 pb-5 map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="map-content d-table position-relative m-auto">
          <!-- Button trigger modal -->
          <div class="map-item text-center" data-toggle="modal" data-target="#modelId">
            <div class="map-icon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="map-btn">
              <h4>Open Map</h4>
            </div>
            <div class="single-line"></div>
          </div>

          <!-- Modal -->
          <div class="modal fade map-frame" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Our Location</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14475.260880355961!2d91.88063319999999!3d24.90428375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbn!2sbd!4v1584003840788!5m2!1sbn!2sbd"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
